<div class="container">
    <div class="screen">
        <div class="screen__content">
         
            <form class="login" [formGroup]="loginForm" (ngSubmit)="registerForm()">
                <div class="login__field">
                    <input type="text" class="login__input" name="name" placeholder="User name" formControlName="username" >
                    <div class ='error'><span *ngIf="username.errors?.['required']&& username.touched">this input filed is required</span></div>
                </div>
                <div class="login__field">

                    <input type="password" class="login__input" name="password" placeholder="Password" formControlName="password">
                </div>
                <button class="button login__submit "[disabled]="loginForm.invalid">
                    <span class="button__text" >Log In Now</span>
                  

                </button>
                <button class="button login__submit" >
                    <span class="button__text" (click)="signup()">Register</span>

                </button>
            </form>
         
        </div>
        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

