<div class="container" style="width: 50%;">
    <h2>Credit/Debit card validation</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Enter Card Details</div>
      <div class="panel-body">
        <div class="right-payment-sec">
          <form [formGroup]="paymentForm" (ngSubmit)="SaveCardDetails()">        
            <div class="row">
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name On Card</label>
                        <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" placeholder="Name On Card">                    
                    </div>
                </div>
                <div class="col-lg-12 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Card Number</label>
                        <input type="text" class="form-control"
                         id="exampleInputEmail1" placeholder="XXXX-XXXX-XXXX-XXXX">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Expiration Month</label>
                        <select class="form-control" id="" formControlName="expiryMonth" placeholder="Select Month">
                    
                    </select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Expiration Year</label>
                        <select class="form-control" id="" formControlName="expiryMonth" placeholder="Select year">
                    
                        </select>
                                      
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Security Code</label>
                        <input type="text" class="form-control" formControlName="ccv" id="exampleInputEmail1" placeholder="Security Code">                      
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Zip Code</label>
                        <input type="text" class="form-control" formControlName="zipCode"  id="exampleInputEmail1" placeholder="Zip Code">                   
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 xol-sm-6 col-xs-12">
                  <div class="form-group mt-2">
                    <button type="submit" class="btn btn-primary" style="margin-right: 10px ;">Save</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                  </div>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
